{% extends "login.html" %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block content %}
<h1>Welcome to the Admin Dashboard,{{user_name}}!</h1>
<div class="grid-container">
    <!-- First sector -->
    <div class="sector">
        <h2>Match between {{ player_1_login_name_1 }} and {{ player_2_login_name_1 }}</h2>
        <button class="edit-button">Edit</button>
        <div class="animation-space">[Animation Placeholder]</div>
        <button class="action-button">Enter results</button>
        <button class="action-button">Next Game</button>
    </div>

    <!-- Second sector -->
    <div class="sector">
        <h2>Match between {{ player_1_login_name_2 }} and {{ player_2_login_name_2 }}</h2>
        <button class="edit-button">Edit</button>
        <div class="animation-space">[Animation Placeholder]</div>
        <button class="action-button">Enter results</button>
        <button class="action-button">Next Game</button>
    </div>

    <!-- Third sector -->
    <div class="sector">
        <h2>Match between {{ player_1_login_name_3 }} and {{ player_2_login_name_3 }}</h2>
        <button class="edit-button">Edit</button>
        <div class="animation-space">[Animation Placeholder]</div>
        <button class="action-button">Enter results</button>
        <button class="action-button">Next Game</button>
    </div>

    <!-- Fourth sector -->
    <div class="sector">
        <h2>Match between {{ player_1_login_name_4 }} and {{ player_2_login_name_4 }}</h2>
        <button class="edit-button">Edit</button>
        <div class="animation-space">[Animation Placeholder]</div>
        <button class="action-button">Enter results</button>
        <button class="action-button">Next Game</button>
    </div>
</div>
<a href="{{ url_for('logout') }}">Logout</a>
{% endblock %}
