<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Login Page{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="container">
        {% block content %}
        <h1>Please enter your login details below:</h1>
    <form action="/login" method="post">  <!-- Link to the /login route with POST method -->
        <label for="player_email">Your email address:</label>
        <input type="email" id="player_email" name="player_email" required>

        <label for="password">Your password:</label>
        <input type="password" id="password" name="password" required>
        
        <div class="button-container">
            <button type="submit">Login</button>
        </div>
    </form>
        {% endblock %}
    </div>
</body>
</html>
