{% extends "login.html" %}

{% block title %}
Sign-up Page
{% endblock %}

{% block content %}
     <h1>Please register your details below:</h1>
     <form action="/signup" method="post">  <!-- Link to the /signup route with POST method -->
        <label for="nickname">Your preferred nickname:</label>
        <input type="text" id="nickname" name="nickname" required>
        
        <label for="email">Your email address (for password reset):</label>
        <input type="email" id="email" name="email" required>

        <label for="phone">Your phone number (for password reset):</label>
        <input type="tel" id="phone" name="phone" required>

        <label for="password">Your password:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Register</button>
    </form>
{% endblock %}
